* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
 To deal with Flash of Undefined Custom Elements (FOUCE).
 As soon as a custom element is registered, it will immediately appear with all of its styles, effectively eliminating FOUCE.
 Note the use of visibility: hidden instead of display: none to reduce shifting as elements are registered.
 The drawback to this approach is that custom elements can potentially appear one by one instead of all at the same time.
*/
:not(:defined) {
  visibility: hidden;
}

/* fonts */
@font-face {
  font-family: "Poppins";
  src: url("./src/assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./src/assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./src/assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
